<?xml version="1.0"?>
<configuration>
<connectionStrings>
    <clear />
    <add name="Main"
        connectionString="Data Source=connectionsDb.db"  providerName="System.Data.SQLite" />
</connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="Fixed SQLite Data Provider"
           invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.84.0, Culture=neutral" />
    </DbProviderFactories>
  </system.data>
</configuration>
