<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <clear/>
    <add name="Main"
  connectionString="Integrated Security = SSPI; Persist Security Info=False;Initial Catalog=KARKAS_ORNEK;Data Source=localhost" />
    <add name="KARKAS_ORNEK"
  connectionString="Integrated Security = SSPI; Persist Security Info=False;Initial Catalog=KARKAS_ORNEK;Data Source=localhost" />

  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="Fixed SQLite Data Provider"
           invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.84.0, Culture=neutral" />
    </DbProviderFactories>
  </system.data>
  
</configuration>